*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #F2EFE7;
    color: #006A71;
    padding-bottom: 0;
}

h2{
    color: #FFB433;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    padding: 10px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.logo-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.site-title {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 0;
}

.navbar {
    background-color:#48A6A7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px 50px;    
    border-bottom: 3px solid #FFB433;
    padding-top: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap:30px;
    margin-left: auto;
}

.navbar a {
    color:#F2EFE7;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}

.navbar a:hover {
    color:#48A6A7;
    background-color: #F2EFE7;
    transition: 0.3s;
}

.hero {
    text-align: center;
    padding: 150px 0;
    margin: 0;
}

.highlight {
    color:#FFB433;
    font-weight: bold;
}

.about {
    background-color: #fffbe6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
}

.about h2 {
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
}
  
.photo-cell {
    width: 100;
    text-align: center;
    vertical-align: top;
    padding-right: 20px;
}
  
.photo-cell img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.5s;
}

.photo-cell img:hover {
    transform: scale(1.05);
}
  
.about-cell {
    width: 100%;
    vertical-align: top;
    text-align: justify;
    padding: 50px;
}

.about-cell h3 {
    text-align: center;
    padding: 20px;
}

.about-me-deep {
    background-color: #fffbe6;
    margin: 0;
    padding: 30px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap:20px;
    margin:0;
}

.introduction {
    background-color: #F2EFE7;
    text-align: center;
    color:#FFB433;
    margin: 0;
    padding: 30px;
}

.intro-card {
    background-color: #9ACBD0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.intro-card:hover {
    transform: scale(1.05);
}

.intro-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 15px;
}

.galeri-card {
    background-color: #9ACBD0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.galeri-card:hover {
    transform: scale(1.05);
}

.galeri-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
}

footer {
    background-color: #48A6A7;
    padding: 10px 0;
    text-align: center;
    border-top: 3px solid #FFB433;
    color: #F2EFE7;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
    }

    .container-navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .hero {
        padding: 30px 0;
    }

    .grid-4 {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .about-photo img {
        width: 150px;
        height: 150px;
    }

    img {
        width: 60px;
        height: 60px;
    }
}